<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework gUrU</title>
</head>
<body>
    <h1>Author list</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr th:each="a : ${authors}">
            <td th:text="${a.id}"></td>
            <td th:text="${a.firstName}"></td>
            <td th:text="${a.lastName}"></td>
        </tr>
    </table>
</body>
</html>